

<input type="hidden" value={{count}} id="count" >
<div {{ attributes }} id="mainsp">
<div id="socialproofcontent">
<div id="allmessagesdiv">
{% for key,data in spmessage %}
<div id="social-block-{{key}}" class="socialproofdiv" >
 						<img src="{{spmessageimg[key]}}" alt="LOGO">
 							<p>
              <span class="socialproof-text">
 							{{ data|raw }}
 							</span>
						 </p>
</div>

   {% endfor %}
   </div>
</div>
</div>
